<div>
    <h1 class="text" >Add new to do: </h1>
    <div>
        <p *ngIf="nameAdded.touched && nameAdded.invalid && inputData.submitted" class="formText"> Name should be at least 5 symbols long and npt longer then 20 symbols</p>
        <p *ngIf="!typeAdded.touched && inputData.submitted" class="formText"> Please choose type</p>
    <form 
    #inputData= "ngForm" 
    (ngSubmit)="addItem(inputData);inputData.reset()" 
    >
        <label for="name"></label>
        <input #nameAdded="ngModel" required minlength="5" maxlength="20"  type="text" name="name" class="form-control inputForm__name" placeholder="to do..." ngModel>
        <label for="name"></label>
        <select #typeAdded="ngModel" required class="inputForm__type" name="type" id="" ngModel>
            <option value="home">home</option>
            <option value="shop">shop</option>
            <option value="work">work</option>
        </select>
        <button 
        class="form_button" 
        type="submit"
        [disabled]="!inputData.form.valid"
        > Add </button>
    </form>
</div>
</div>
